#opening {

}

#content {

display: none;

}

#elements {

display:none;

}

#divideBody {

display:none;

}

#addElements {

display: none;

}

#createDom {

display: none;

}

#dynamicContent {

display: none;

}